<div class="max-w-3xl mx-auto mt-10">
  <h2 class="text-3xl font-bold text-gray-800 mb-6">My habits</h2>
  <%= link_to "Create Habit by Category", categories_path, class: "bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600" %>
  <ul class="mt-4">
    <% @habits.each do |habit| %>
      <li class="p-4 bg-white shadow-md rounded-lg mb-4 flex justify-between">
        <span><%= habit.name %> - <%= habit.description %></span>
        <div>
          <%= link_to "Clock in/out", new_habit_time_block_path(habit), class: "bg-blue-500 text-white px-2 py-1 rounded mr-2" %>
          <%= link_to "Reminder", new_habit_reminder_path(habit), class: "bg-yellow-500 text-white px-2 py-1 rounded mr-2" %>
          <%= link_to "edit", edit_habit_path(habit), class: "text-blue-500 mr-2" %>
          <%= button_to "delete", habit_path(habit), method: :delete, data: { confirm: "Confirm delete?" }, class: "text-red-500" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>